<!DOCTYPE html>
<html lang="en" data-theme="dark">
<meta charset="UTF-8" />
<title>Open chat</title>
<meta name="viewport" content="width=device-width,initial-scale=1" />
<!-- Google Fonts -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
<!-- CSS Reset -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
<!-- Milligram CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css">

<link rel="stylesheet" href="style.css" />
<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.2.1/js.cookie.min.js" integrity="sha512-Meww2sXqNHxI1+5Dyh/9KAtvI9RZSA4c1K2k5iL02oiPO/RH3Q30L3M1albtqMg50u4gRTYdV4EXOQqXEI336A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<body>
  <div id="app">
    <div id="main">
      <header class="clearfix">
        <div class="float-left">
          <select v-model="selectedRoomId" id="room-select">
            <option v-for="room in rooms" :key="room.id" :value="room.id">{{room.name}}</option>
          </select>
        </div>
        <div class="float-right">
          <input type="text" id="room-input" v-model="roomName" placeholder="Type room name">
          <a id="room-create-button" class="button" href="#" @click="createRoom">Create</a>
        </div>
      </header>
      <div id="messages">
        <!-- <p>{{message.content}}({{message.user_name}})</p>
        <p>{{message.content}}({{message.user_name}})</p> -->
      </div>
    </div>
    <div id="form" class="clearfix">
      <div id="form-left" class="float-left">
        <input type="text" id="name-input" v-model="userName" @keyup="saveUserName" placeholder="Your name">
        <input type="text" id="message-input" placeholder="Type a message">
      </div>
      <div class="float-right">
        <a id="message-send-button" class="button" href="#">Send</a>
      </div>
    </div>
  </div>

  <script src="index.js"></script>
</body>

</html>