<!DOCTYPE html>
<html lang="en" data-theme="dark">
<meta charset="UTF-8" />
<title>Open chat</title>
<meta name="viewport" content="width=device-width,initial-scale=1" />
<!-- Google Fonts -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
<!-- CSS Reset -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
<!-- Milligram CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css">

<link rel="stylesheet" href="style.css" />
<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.2.1/js.cookie.min.js" integrity="sha512-Meww2sXqNHxI1+5Dyh/9KAtvI9RZSA4c1K2k5iL02oiPO/RH3Q30L3M1albtqMg50u4gRTYdV4EXOQqXEI336A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<body>
  <div id="app">
    <div id="room-form" v-show="mode === 'room-form'">
      <label for="room-input">Type room name.</label>
      <input type="text" id="room-input" v-model="roomName" placeholder="Type room name"/>
      <div>
        <a id="room-create-button" class="button" href="#" @click="createRoom">Create</a>
        <a class="button button-clear" href="#" @click="mode = 'chat-form'">Back</a>
      </div>
    </div>
    <div id="user-name-form" v-show="mode === 'user-name-form'">
      <div>
        <label for="name-input">Set your name.</label>
        <input type="text" id="name-input" v-model="userName" placeholder="Your name" />
      </div>
      <a class="button" href="#" @click="saveUserName">Save</a>
      <a class="button button-clear" href="#" @click="mode = 'chat-form'">Back</a>
    </div>
    <div v-show="mode === 'chat-form'">
      <div id="main">
        <header>
          <div class="clearfix">
            <select v-model="selectedRoomId" id="room-select" class="float-left" @change="loadLastMessage">
              <option v-for="room in rooms" :key="room.id" :value="room.id">{{room.name}}</option>
            </select>
            <a class="button button-outline float-right"href="#" @click="mode = 'room-form'">Create room</a>
          </div>
        </header>
        <div id="messages">
          <a href="#" @click="loadMessageBefore">Load messages</a>
          <div v-for="message in messages" :key="message.id" :class="message.user_id == userId ? 'my-message' : ''">
            <span class='message-content'>{{message.user_name}} > {{message.content}} ({{message.created_at}})</span>
            <hr>
          </div>
        </div>
      </div>
      <form id="form">
        <input type='text' id="message-input" v-model="content" @keydown.enter="createMessage" placeholder="Type a message" />
        <a id="message-send-button" class="button" href="#" @click="createMessage">Send</a>
        <a class="button button-outline" href="#" @click="mode = 'user-name-form'">Edit user name</a>
      </form>
    </div>
  </div>

  <script src="index.js"></script>
</body>

</html>
