#app {
  min-height: 100vh;
  position: relative;
}

header {
  height: 80px;
  padding: 20px 2.0rem 20px
}

#main {
  padding-bottom: 190px;
}

#user-name-form {
  padding: 20px;
}

#room-form {
  padding: 20px;
}

#room-select {
  width: 150px;
  margin-right: 10px;
}

#room-input {
  width: 150px;
  margin-right: 10px;
}

#name-input {
}

#message-input {
}

#message-send-button {
  margin-right: 10px;
}

#messages {
  padding: 10px 2.0rem;
  height: calc(100vh - 240px);
  overflow-y: scroll;
}

#form {
  margin-top: 10px;
  margin-bottom: 10px;
  height: 140px;
  padding: 0px 2.0rem;
  width: 100%;
  position: absolute;
  bottom: 0;
}

#form-left {
  width: calc(100% - 110px);
}

.my-message {
  text-align: right;
}

hr {
  margin: 5px;
}
